
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaymentHistoryPDF</title>
    <style>
        tbody tr td{text-align:center;}
    </style>
</head>
<body>
    <div style="padding:10px 20px;"> 
        <h4 style="text-align:center;font-size:20px;font-weight: bold;color:#84B002">Accounts For Shop Owner(March-2017)</h4>
        <table border="1" cellspacing="0" width="100%" id="Payment-History">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Reseravation ID</th>
                    <th>Date</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Debit</th>
                    <th>Credit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>5012</td>
                    <td>10-12-2017</td>
                    <td>Hair cutting</td>
                    <td>Beauty</td>
                    <td>500</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>5012</td>
                    <td>10-12-2017</td>
                    <td>Hair cutting</td>
                    <td>Beauty</td>
                    <td>500</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>5012</td>
                    <td>10-12-2017</td>
                    <td>Hair cutting</td>
                    <td>Beauty</td>
                    <td>500</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>5012</td>
                    <td>10-12-2017</td>
                    <td>Hair cutting</td>
                    <td>Beauty</td>
                    <td>500</td>
                    <td>2</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
         
                    <td colspan="5">Total</td>
                    <td style="text-align:center;">500</td>
                    <td style="text-align:center;">2</td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>
