
@{
    Layout = null;
}
<div class="time-slot">
    <div class="row">
        <ul>
            <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <span class="spa-checkbox checkbox time-slot-box">
                    <input id="aaa" type="checkbox">
                    <label for="aaa" class="form-label">1 Minute</label>
                </span>
            </li>
            <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <span class="spa-checkbox checkbox time-slot-box">
                    <input id="bbb" type="checkbox">
                    <label for="bbb" class="form-label">5 Minute</label>
                </span>
            </li>
            <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <span class="spa-checkbox checkbox time-slot-box">
                    <input id="ccc" type="checkbox">
                    <label for="ccc" class="form-label">10 Minute</label>
                </span>
            </li>
            <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <span class="spa-checkbox checkbox time-slot-box">
                    <input id="ddd" type="checkbox">
                    <label for="ddd" class="form-label">15 Minute</label>
                </span>
            </li>
        </ul>
    </div>
    <div class="text-center margin-top20">
        <input type="button" class="btn btn-green btn-small margin-right5" value="Save">
    </div>
</div>
