
@{
    Layout = null;
}

<ul class="massage-content">
    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-24 margin-bottom10 text-center">
        <span>
            <img src="~/images/spa01.jpg" />
        </span>
    </li>
    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-24 massage-scroll">
        <div class="choose-your-product table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ANGEBOT</th>
                        <th class="text-center">MIN.</th>
                        <th class="text-center">PREIS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="spa-label1">Massage (2x 60’)</td>
                        <td class="spa-label1 text-center">120’</td>
                        <td class="spa-label1 text-center">37-</td>
                    </tr>
                    <tr>
                        <td class="spa-label1">Massage (5x 60’)</td>
                        <td class="spa-label1 text-center">300’</td>
                        <td class="spa-label1 text-center"></td>
                    </tr>
                    <tr>
                        <td class="spa-label1">Massage (10x 60’)</td>
                        <td class="spa-label1 text-center">600’</td>
                        <td class="spa-label1 text-center"></td>
                    </tr>
                    <tr>
                        <td class="spa-label1">Medizinische Massage</td>
                        <td class="spa-label1 text-center">60’</td>
                        <td class="spa-label1 text-center"></td>
                    </tr>
                    <tr>
                        <td class="spa-label1">Hot Stone(2x60’)</td>
                        <td class="spa-label1 text-center">120’</td>
                        <td class="spa-label1 text-center"></td>
                    </tr>
                    <tr>
                        <td class="spa-label1">Hot Stone(5x60’)</td>
                        <td class="spa-label1 text-center">300’</td>
                        <td class="spa-label1 text-center"></td>
                    </tr>
                    <tr>
                        <td class="spa-label1">Lymphdrainage (2x60’)</td>
                        <td class="spa-label1 text-center">120’</td>
                        <td class="spa-label1 text-center"></td>
                    </tr>
                    <tr>
                        <td class="spa-label1">Lymphdrainage (5x60’)</td>
                        <td class="spa-label1 text-center">300’</td>
                        <td class="spa-label1 text-center"></td>
                    </tr>
                    <tr>
                        <td class="spa-label1">Lymphdrainage (10x60’)</td>
                        <td class="spa-label1 text-center">600’</td>
                        <td class="spa-label1 text-center"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </li>
</ul>