
@{
    ViewBag.Title = "ANGEBOT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="spa-breadcrumbs breadcrumb">
    @*<li><a href="#" class="active">Home</a></li>
    <li><a href="#">Massage</a></li>*@
</ol>
<div class="form-content">
    <div class="employee-blank">
        <h1 class="italic-title">Angebot</h1>
        <div class="spa-home-tab angebot-tab">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#preis" data-toggle="tab">Preis</a></li>
                <li><a href="#abonnement" data-toggle="tab">Abonnement</a></li>
                <li><a href="#geschenk" data-toggle="tab">Geschenk Gutschein</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="preis">
                    @Html.Action("Preis", "ANGEBOT")
                </div>
                <div class="tab-pane fade" id="abonnement">
                    @Html.Action("Abonnement", "ANGEBOT")
                </div>
                <div class="tab-pane fade" id="geschenk">
                    @Html.Action("Geschenk", "ANGEBOT")
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
@Html.Partial("_Footer")
