
@{
    Layout = null;
}

<ul class="massage-content">
    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-24 margin-bottom10 text-center">
        <span>
            <img src="~/images/spa01.jpg" />
        </span>
    </li>
    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-24 massage-scroll">
        <h2 class="title-black14">Harmonie</h2>
        <p class="title-green24 margin-bottom20">Wohlbefinden</p>
        <p class="title-black14 margin-bottom20">Ausgeglichenheit – Gleichgewicht – Gesundheit Energetique</p>
        <p class="title-green16">GESCHENK</p>
        <pre class="spa-label1 massage-pre">Schenke einen personalisierbaren
Geschenkgutschein für das ganze
Sortiment!  
</pre>
    </li>
</ul>