
@{
    Layout = null;
}
<ul class="massage-content">
    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-24 margin-bottom10 text-center">
        <span>
            <img src="~/images/spa03.jpg" />
        </span>
    </li>
    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-24 massage-scroll">
        <h2 class="title-black14">Harmonie</h2>
        <p class="title-green24 margin-bottom20">Wohlbefinden</p>
        <p class="title-black14 margin-bottom20">Ausgeglichenheit – Gleichgewicht – Gesundheit Energetique</p>
        <p class="title-green16"> Öl-Massage</p>
        <pre class="spa-label1 massage-pre">Die Öl-Massage ist eine
Ganzkörperbehandlung basierend auf der 
klassischen Massage. Es werden dabei 
ätherische Öle in Verbindung mit einem 
Basisöl (Mandel- oder Jojobaöl) sanft in die 
Haut einmassiert
</pre>
    </li>
</ul>