
@{
    Layout = null;
}

<ul class="massage-content">
    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-24 margin-bottom10 text-center">
        <span>
            <img src="~/images/spa02.jpg" />
        </span>
    </li>
    <li class="col-lg-12 col-md-12 col-sm-12 col-xs-24 massage-scroll">
        <h2 class="title-black14">Harmonie</h2>
        <p class="title-green24 margin-bottom20">Wohlbefinden</p>
        <p class="title-black14 margin-bottom20">Ausgeglichenheit – Gleichgewicht – Gesundheit Energetique</p>
        <p class="title-green16"> Hot Stone Massage</p>
        <pre class="spa-label1 massage-pre">Die Warmsteinmassage (Hot Stone
Massage) ist eine Massageform unter
Zuhilfenahme von aufgeheizten Steinen,
meist aus Basalt, die auf den Körper gelegt
werden. Die Steine werden dazu in einem
Wasserbad auf eine Temperatur von etwa
60 °C erwärmt. Ziel ist die Entspannung der 
</pre>
    </li>
</ul>