<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="cctspDatabaseEntities22" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gaq7d4cvzo.database.windows.net;initial catalog=ShopDB;persist security info=True;user id=Shopdb;password=spa@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="cctspDatabaseEntities22" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ioypkf5yxv.database.windows.net;initial catalog=ShopDBTesting12;persist security info=True;user id=SHOPDEV;password=bcs@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="cctspDatabaseEntities22" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ioypkf5yxv.database.windows.net;initial catalog=ShopDBTesting;persist security info=True;user id=SHOPDEV;password=bcs@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="cctspDatabaseEntities22" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vodo2kaikz.database.windows.net;initial catalog=ShopDB;persist security info=True;user id=Shopdb;password=spa@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="cctspDatabaseEntities22" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vodo2kaikz.database.windows.net;initial catalog=ShopDB;persist security info=True;user id=Shopdb;password=spa@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="cctspDatabaseEntities22" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vodo2kaikz.database.windows.net;initial catalog=ShopDB;user id=Shopdb;password=spa@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="cctspdatabaseentities22" connectionstring="metadata=res://*/model1.csdl|res://*/model1.ssdl|res://*/model1.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=vodo2kaikz.database.windows.net;initial catalog=shopdb;user id=shopdb;password=spa@1234;multipleactiveresultsets=true;application name=entityframework&quot;" providername="system.data.entityclient" />-->
    <!--<add name="cctspDatabaseEntities22" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gitapidb.database.windows.net;initial catalog=ShopDB;user id=dbadmin;password=bcs@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="cctspDatabaseEntities22" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gitapidb.database.windows.net;initial catalog=ShopDB;user id=dbadmin;password=bcs@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="cctspDatabaseEntities22" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gitapidb.database.windows.net;initial catalog=ShopDB;user id=dbadmin;password=bcs@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="cctspDatabaseEntities22" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gitapidb.database.windows.net;initial catalog=ShopDB;user id=dbadmin;password=bcs@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="cctspDatabaseEntities22" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gitapidb.database.windows.net;initial catalog=ShopDB;user id=dbadmin;password=bcs@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="cctspdatabaseentities22" connectionstring="metadata=res://*/model1.csdl|res://*/model1.ssdl|res://*/model1.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=gitapidb.database.windows.net;initial catalog=shopdb;user id=dbadmin;password=bcs@1234;multipleactiveresultsets=true;app=entityframework&quot;" providername="system.data.entityclient" />-->
    <!--<add name="cctspDatabaseEntities22" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gitapidb.database.windows.net;initial catalog=ShopDB;user id=dbadmin;password=bcs@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="cctspDatabaseEntities22" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;Integrated Security=true;initial catalog=ShopDB;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="cctspDatabaseEntities22" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vodo2kaikz.database.windows.net;initial catalog=ShopDB;user id=Shopdb;password=spa@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="FacebookLink" value="https://www.facebook.com/maarkssch" />
    <add key="SenderID" value="Maarks" />
    <add key="ApplicationVariableEmailFrom" value="no-reply@maarkss.ch" />
    <!--<add key="ApplicationVariablePortfolio" value="25" />-->
    <add key="ApplicationVariableEmailBCC" value="info@maarkss.ch" />
    <add key="CurrencyUsed" value="CHF" />
    <add key="DurationUsed" value="Min" />
    <add key="ApplicationTitle" value="MAARKSS GREY" />
    <add key="ApplicationVariable" value="251" />
    <add key="ErrorClick" value="/Error/Error_List" />
    <add key="EmailUserId" value="34" />
    <add key="StPayment" value="0" />
    <add key="PaymentKey" value="0" />
    <add key="WorkFlow" value="2" />
    <add key="CountryVersionShop" value="Europe" />
    <add key="WebsiteName" value="click-and-go.ch" />
    <add key="BaseUrl" value="http://testplatform001.azurewebsites.net/" />
    <add key="EmailUrl" value="http://api.click-and-go.in/api/User/" />
    <!--<add key="EmailUrl" value="http://localhost:64887/api/User/" />-->
    <!--API Live Key-->
    <add key="APIUrl" value="http://api.click-and-go.in/" />
    <!--API Local Key-->
    <add key="EmailUserName" value="mohammad786.rajpur@gmail.com" />
    <add key="EmailPassword" value="qq" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FacebookAppId" value="257237977783299" />
    <add key="recaptchaPublicKey" value="6LcnPuwSAAAAAK-hweUci3pHPEa0PjumMnsjDIPC" />
    <add key="recaptchaPrivateKey" value="6LcnPuwSAAAAANtPGHb4pn5LvVMt3_Yj7fem84nz" />
    <!--pls Add before Adding New Shop  -->
    <!--End-->
    <add key="ClientValidationEnabled" value="true" />
    <add key="Language" value="1" />
    <add key="SmtpHost" value="mail.quickscrum.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpSSL" value="false" />
    <add key="SmtpAuthentification" value="true" />
    <add key="SmtpLogin" value="mrugesh.panchal@quickscrum.com" />
    <add key="SmtpPassword" value="Reset@123" />
    <add key="MailSender" value="mrugesh.panchal@quickscrum.com" />
    <add key="MailSenderTitle" value="Mrugesh PANCHAL" />
    <add key="MailAssignSubject" value="Project Assignment" />
    <add key="MailUnassignSubject" value="Project Unassignment" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <globalization uiCulture="en-GB" culture="en-GB" />
    <customErrors mode="Off" />
    <pages validateRequest="false" />
    <authentication mode="Forms">
      <forms timeout="5200" />
    </authentication>
    <compilation debug="true" targetFramework="4.5.2" />
    <!--<httpRuntime targetFramework="4.5.2" maxQueryStringLength="102400" />-->
    <httpRuntime targetFramework="4.5.2" maxQueryStringLength="102400" maxRequestLength="102400" executionTimeout="3600" />
    <sessionState mode="InProc" timeout="52000" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpCompression>
      <dynamicTypes>
        <clear />
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/x-javascript" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="false" mimeType="*/*" />
        <add enabled="true" mimeType="application/atom+xml" />
        <add enabled="true" mimeType="application/atom+xml;charset=utf-8" />
      </dynamicTypes>
      <staticTypes>
        <clear />
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/atom+xml" />
        <add enabled="true" mimeType="application/xaml+xml" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="false" mimeType="*/*" />
      </staticTypes>
    </httpCompression>
    <staticContent>
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
    </staticContent>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-control" value="no-cache" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>