<ul class="progressbar Freecustomer_process">
    <li class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="InfoPage">Info</li>
    <li class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="EmployeePage">Employee</li>
    <li class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="ThankPage">Thank You</li>
</ul>
